main {
  height: 100%;
}

body {
  background-color: black;
  color:white;
  padding: 0;
  margin: 0;
}

.carousel-inner {
  height: 0;
  padding-bottom: 50%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
  position: absolute !important; /* Bootstrap is insistent */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%; /* Bootstrap handles width already */
  object-fit: cover; /* or 'contain' if you want stretch instead of crop */
  filter: grayscale(100%);
}

footer {
  background-color: black;
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  padding: 3rem;
}

.container {
  color: white;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure the text appears above the carousel */
  font-family: 'Jura', sans-serif; /* Set font to Jura */
  color: white !important; /* Set text color to white */
}

.text-box {
  background-color: #727272;
  padding: 10px;
  border-radius: 5px;
  position: absolute; /* Ensure the text box stays in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .75;
}

.text-box h1 {
  font-family: 'Jura', sans-serif;
  color: white;
  margin: 0;
  width: 100;
  text-align: center;
}

.text-box h2 {
  font-family: 'Jura', sans-serif;
  color: white;
  margin: 0;
  width: 100;
  text-align: center;
}

/* Button styles for all buttons within .navigation */
.navigation button {
  background-color: #333; /* Background color for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 40px; /* Adjust vertical spacing between buttons */
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for all buttons within .navigation */
.navigation button:hover {
  background-color: #555; /* Background color on hover */
}

/* Styles for .navigation layout */
.navigation {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 75px; /* Adjust spacing as needed */
  font-family: 'Jura', sans-serif; /* Set font to Jura */
}

/* Styling for the recommendations page */
.recommendations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Jura', sans-serif;
  position: relative; /* Ensure proper positioning of elements */
}

.recommendations h2 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/* Styling for the image overlay */

.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 1%;
  height: 1%;
  background-position: center;
  filter: grayscale(100%); /* Apply grayscale effect */
  opacity: 0.2; /* Adjust opacity as needed */
  z-index: 1; /* Place below text and button */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the circular button */
.circle-button {
  width: 40px; /* Adjust size as needed */
  height: 40px; /* Adjust size as needed */
  border-radius: 100%;
  background-color: #333; /* Button background color */
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute; /* Position relative to its parent */
  bottom: 20px; /* Adjust position relative to text */
  cursor: pointer;
  left: 50%; /* Center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

/* Styling for the down arrow */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white; /* Arrow color and size */
}


