main {
  height: 100%;
}

body {
  background-color: black;
  color:white;
  padding: 0;
  margin: 0;
}

.carousel-inner {
  height: 0;
  padding-bottom: 50%; /* this sets carousel aspect ratio (4:1 here) */
}

.carousel-item {
  position: absolute !important; /* Bootstrap is insistent */
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.carousel-item img {
  height: 100%; /* Bootstrap handles width already */
  object-fit: cover; /* or 'contain' if you want stretch instead of crop */
  filter: grayscale(100%);
}

footer {
  background-color: black;
  position: fixed;
  height: 20px;
  bottom: 0;
  width: 100%;
  padding: 3rem;
}

.container {
  color: white;
  width: 100%;
}

.carousel-caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000; /* Ensure the text appears above the carousel */
  font-family: 'Jura', sans-serif; /* Set font to Jura */
  color: white !important; /* Set text color to white */
}

.text-box {
  background-color: #727272;
  padding: 10px;
  border-radius: 5px;
  position: absolute; /* Ensure the text box stays in place */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: .75;
}

.text-box h2 {
  font-family: 'Jura', sans-serif;
  color: white;
  margin: 0;
}
