/* Styling for the form on the login page */
.recs-form {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto; /* Center the form horizontally */
}

.card {
  border: 1px solid chartreuse;
}

#submit-btn {
  background-color: white;
}

