.page-button:hover {
  cursor: pointer;
}

/* Button styles for all buttons within .navigation */
.navigation button {
  background-color: #333; /* Background color for buttons */
  color: white;
  border: none;
  padding: 10px 20px;
  margin-bottom: 40px; /* Adjust vertical spacing between buttons */
  border-radius: 5px;
  cursor: pointer;
}

/* Hover effect for all buttons within .navigation */
.navigation button:hover {
  background-color: #555; /* Background color on hover */
  transition: background-color 0.3 ease;
}

/* Styles for .navigation layout */
.navigation {
  display: flex; /* Use flexbox layout */
  flex-direction: column; /* Arrange items vertically */
  align-items: center; /* Center items horizontally */
  margin-top: 25px; /* Adjust spacing */
  font-family: 'Jura', sans-serif;
}

/* Styling for the recommendations page */
.recommendations {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  color: white;
  font-family: 'Jura', sans-serif;
  position: relative;
}

.recommendations h2 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

/* Styling for the image overlay */
.image-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 1%;
  height: 1%;
  background-position: center;
  filter: grayscale(100%); /* Apply grayscale effect */
  opacity: 0.2;
  z-index: 1; /* Place below text and button */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Styling for the down arrow */
.arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white; /* Arrow color and size */
  z-index: 2;
  margin-top: 50px;
  position: absolute;
  left: 50%;
}

/* Styling for the text box */
.text-box {
  background-color: #727272;
  padding: 10px;
  border-radius: 5px;
  opacity: 100;
  z-index: 2;
  margin-top: -385px;
}

/* Styling for the form on the recommendations page */
.recs-form {
  background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
  padding: 20px;
  border-radius: 5px;
  max-width: 500px;
  margin: 0 auto;
  margin-top: 400px;
}