body {
  background-color: black;
  color:white;
  padding: 0;
  margin: 0;
}

footer {
  background-color: black;
  height: 20px;
  bottom: 0;
  width: 100%;
  padding: 3rem;
}

#footer {
  position: relative;
  margin-top: -180px;
  /* negative value of footer height */
  height: 180px;
  clear: both;
  background-color: red;
}

.nowrap {
  white-space: nowrap;
}

.card {
  color: white;
  background-color:transparent;
}