body {
  font-family: 'Jura', sans-serif;
}

.card-analytics {
  border: 10px solid chartreuse;
}

#general {
  color: chartreuse;
}

#workout {
  border-color: crimson;
  color: crimson;
}

#macros {
  border-color: orange;
  color: orange;
}

#hydro {
  border-color: skyblue;
  color: skyblue;
}

#misc {
  border-color: plum;
  color: plum;
}