input[type="text"] {
  width: 100%;
  padding: 5px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  color: white;
}

input.form-control {
  background-color: #ffffff;
}
/* Custom CSS for the workout log cards */
.wo-logs .card {
  border: 5px solid crimson;
  color: crimson;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.log-btn {
  background-color:crimson;
  color: black;
}

.log-btn:hover {
    background-color:maroon;
    color: white;
}

.wo-logs {
  color:crimson;
}